body {
  padding-top: 55px;
  padding-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#page-loader {
  display: none;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  z-index: 9999;
  overflow: visible;
  background: #fff url('/images/loader.gif') no-repeat center center;
  opacity: 0.5;
}

.page-content {
  padding-top: 20px;
}

#me-column .username {
  display: inline-block;
  padding-left: 10px;
  font-size: 20px;
}
#me-column .panel-body {
  padding: 12px;
}
#post-row > .panel {
  margin-bottom: 5px;
}
.attachment-column .glyphicon-camera {
  font-size: 4em;
}

/* Feed items */
.media-left, .media > .media-left {
  padding-right: 0px;
}
.media-right, .media > .media-right {
  padding-left: 0px;
}
.media-body > blockquote {
  padding: 9.5px 10px;
}

@media (max-width: 768px) {
  .page-content {
    padding: 15px 10px 0 10px;
  }
  .attachment-column {
    padding-left: 0;
  }
  .attachment-column .glyphicon-camera {
    font-size: 3em;
  }
}
